


body {
	background: gold;
	}

h1 { 
	text-align: center; 
	font-weight: bold; 
	font-size: 20pt; 
	}

td {
    border: solid 1px;
    background-color: #DCDCDC;
    font-align: center;
            
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.center {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

input {
    background-color: white;
    font-size: 10pt;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
